*{
  margin:0px;
  padding: 0px
}

.theme-switcher{
  background-color:blanchedalmond ;

}

.theme-switcher.claro{
  background-color:rgb(107, 81, 47);

}

h1{
  color: rgb(107, 81, 47);
  font-family: 'Times New Roman', Times, serif;
}

h1.theme-switcher.claro{
  color: blanchedalmond;
}
